language: android
jdk: oraclejdk8
sudo: false

android:
  components:
   # use the latest revision of Android SDK Tools
   - platform-tools
   - tools

   # The BuildTools version used by your project
   - build-tools-24.0.0
   
   # The SDK version used to compile your project
   - android-23
    
   # Additional components
   # - extra-google-google_play_services
   # - extra-google-m2repository
   # - extra-android-m2repository
   # - addon-google_apis-google-19

script:
   - ls -all
   - ./gradlew build connectedCheck
   
notifications:
   email: false
